__pycache__/

# affinity matrix
affinity_matrices/

# output files (G, mapping, etc.)
graphsage_input/
results/

# test
merged_data.csv

# plot
feature_distributions.pdf
category_counts.xlsx
Rplots.pdf
