# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=0.2.2=pypi_0
astor=0.6.2=pypi_0
backports-weakref=1.0.post1=pypi_0
bleach=1.5.0=pypi_0
ca-certificates=2024.7.2=h06a4308_0
certifi=2020.6.20=pyhd3eb1b0_3
chardet=4.0.0=pypi_0
decorator=4.3.0=pypi_0
enum34=1.1.6=pypi_0
funcsigs=1.0.2=pypi_0
gast=0.2.0=pypi_0
grpcio=1.12.1=pypi_0
html5lib=0.9999999=pypi_0
idna=2.10=pypi_0
joblib=0.14.1=pypi_0
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
markdown=2.6.11=pypi_0
mock=2.0.0=pypi_0
ncurses=6.4=h6a678d5_0
networkx=1.11=pypi_0
numpy=1.14.5=pypi_0
openssl=1.1.1w=h7f8727e_0
pandas=0.25.3=pypi_0
pbr=4.0.4=pypi_0
pip=10.0.1=py35_0
protobuf=3.6.0=pypi_0
python=3.5.6=h12debd9_1
python-dateutil=2.9.0.post0=pypi_0
pytz=2024.1=pypi_0
readline=8.2=h5eee18b_0
requests=2.25.1=pypi_0
scikit-learn=0.22.2.post1=pypi_0
scipy=1.1.0=pypi_0
setuptools=40.2.0=py35_0
six=1.11.0=pypi_0
sklearn=0.0=pypi_0
sqlite=3.45.3=h5eee18b_0
tensorboard=1.8.0=pypi_0
tensorflow=1.8.0=pypi_0
termcolor=1.1.0=pypi_0
tk=8.6.14=h39e8969_0
urllib3=1.26.9=pypi_0
werkzeug=0.14.1=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.4.6=h5eee18b_1
zlib=1.2.13=h5eee18b_1
